In [1]:
import numpy as np
import pandas as pd
import scipy as sp

In [2]:
import pkg_resources
import sys

#PROVJERA DAL JE INSTALIRANO SVE DOBRO
print("python ==" + str(sys.version_info) +
      "\nnumpy == " + pkg_resources.get_distribution("numpy").version +
      "\npandas == " + pkg_resources.get_distribution("pandas").version +
      "\nscipy == " + pkg_resources.get_distribution("scipy").version)

python ==sys.version_info(major=3, minor=5, micro=5, releaselevel='final', serial=0)
numpy == 1.16.2
pandas == 0.24.2
scipy == 1.2.1

In [11]:
#UCITAVANJE PODATAK
df = pd.read_csv("train.csv")
#df

In [12]:
#PRAVLJENJE DUMMIES KLASA ZA ONE HOT ENCODING
sex_dummy = pd.get_dummies(df.sex)
address_dummy = pd.get_dummies(df.address)
famsize_dummy = pd.get_dummies(df.famsize)
pstatus_dummy = pd.get_dummies(df.Pstatus)
reason_dummy = pd.get_dummies(df.reason)
guardian_dummy = pd.get_dummies(df.guardian)
schoolsup_dummy = pd.get_dummies(df.schoolsup)
famsup_dummy = pd.get_dummies(df.famsup)
paid_dummy = pd.get_dummies(df.paid)
activities_dummy = pd.get_dummies(df.activities)
higher_dummy = pd.get_dummies(df.higher)
internet_dummy = pd.get_dummies(df.internet)
romantic_dummy = pd.get_dummies(df.romantic)

In [13]:
#SVE MERGOVANO TREBA DA SE IZBACI NEPOTREBNO DA SE IZBJEGNE DUMMY TRAP
merged = pd.concat([df,sex_dummy,address_dummy,famsize_dummy,pstatus_dummy,reason_dummy,
                    guardian_dummy,schoolsup_dummy,famsup_dummy,paid_dummy,activities_dummy,
                    higher_dummy,internet_dummy,romantic_dummy],axis='columns')

In [15]:
sex_dummy = pd.get_dummies(df.sex)
sex_dummy_dropped_one = sex_dummy.drop(['F'], axis='columns')

address_dummy = pd.get_dummies(df.address)
address_dummy_dropped_one = address_dummy.drop(['R'], axis='columns')


famsize_dummy = pd.get_dummies(df.famsize)
famsize_dummy_dropped_one = famsize_dummy.drop(['LE3'], axis='columns')

pstatus_dummy = pd.get_dummies(df.Pstatus)
pstatus_dummy_dropped_one = pstatus_dummy.drop(['A'], axis='columns')

reason_dummy = pd.get_dummies(df.reason)
reason_dummy_dropped_one = reason_dummy.drop(['other'], axis='columns')

guardian_dummy = pd.get_dummies(df.guardian)
guardian_dummy_dropped_one = guardian_dummy.drop(['other'], axis='columns')

schoolsup_dummy = pd.get_dummies(df.schoolsup)
schoolsup_dummy_dropped_one = schoolsup_dummy.drop(['no'], axis='columns')

famsup_dummy = pd.get_dummies(df.famsup)
famsup_dummy_dropped_one = famsup_dummy.drop(['no'], axis='columns')

paid_dummy = pd.get_dummies(df.paid)
paid_dummy_dropped_one = paid_dummy.drop(['no'], axis='columns')

activities_dummy = pd.get_dummies(df.activities)
activities_dummy_dropped_one = activities_dummy.drop(['no'], axis='columns')

higher_dummy = pd.get_dummies(df.higher)
higher_dummy_dropped_one = higher_dummy.drop(['no'], axis='columns')

internet_dummy = pd.get_dummies(df.internet)
internet_dummy_dropped_one = internet_dummy.drop(['no'], axis='columns')

romantic_dummy = pd.get_dummies(df.romantic)
romantic_dummy_dropped_one = romantic_dummy.drop(['no'], axis='columns')

In [16]:
#MERGOVANJE DUMMY DATA FRAMOVA SA PODACIMA
merged = pd.concat([df,sex_dummy_dropped_one,address_dummy_dropped_one,famsize_dummy_dropped_one,
                   pstatus_dummy_dropped_one,reason_dummy_dropped_one,guardian_dummy_dropped_one,
                   schoolsup_dummy_dropped_one,famsup_dummy_dropped_one,paid_dummy_dropped_one,
                   activities_dummy_dropped_one,higher_dummy_dropped_one,internet_dummy_dropped_one,
                   romantic_dummy_dropped_one], axis = 'columns')

#IZBACIVANJE KOLONA OD KOJE SU IZVEDENE DUMMY DATA FRAMOVI
final_df = merged.drop(['sex','address','famsize', 'Pstatus','reason',
                        'guardian','schoolsup','famsup','paid','activities',
                        'higher','internet','romantic'], axis='columns')

#IZBACIVANJE PO JEDNOG REDA IZ SVAKE OD DUMMY DATA FRAMOVA
final_df

,age,Pstatus,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,...,reputation,father,mother,yes,yes,yes,yes,yes,yes,yes
0,15,T,4,2,1,3,0,5,3,3,...,1,0,1,0,1,0,1,1,1,0
1,16,T,1,1,4,4,0,4,3,2,...,0,1,0,0,1,0,0,1,1,0
2,17,T,4,2,2,3,0,4,3,3,...,1,0,1,0,1,0,0,1,1,0
3,15,T,1,2,1,2,0,3,2,3,...,0,0,1,0,0,0,0,1,1,0
4,17,T,4,3,1,3,0,4,4,3,...,1,0,1,0,1,0,1,1,1,1
5,16,T,2,2,1,2,0,4,3,5,...,0,1,0,0,0,0,0,0,1,0
6,16,T,1,1,4,2,0,5,1,3,...,0,0,1,0,1,0,0,1,0,0
7,16,T,2,2,2,4,0,5,3,5,...,1,0,1,0,1,0,1,1,1,0
8,17,A,3,2,2,2,0,1,2,3,...,1,0,1,0,0,0,0,1,0,1
9,19,T,3,3,1,2,0,4,5,3,...,1,1,0,0,0,0,1,1,0,1
10,18,T,1,3,1,1,0,4,3,3,...,0,0,1,0,0,0,0,0,1,1
11,16,T,1,1,4,1,0,5,5,5,...,0,1,0,1,1,0,1,1,1,1
12,18,T,1,1,2,2,0,5,4,4,...,0,0,1,1,0,0,1,1,1,0
13,17,T,2,4,1,2,0,5,4,2,...,1,1,0,0,1,0,1,1,0,0
14,17,T,2,3,2,2,0,4,2,1,...,0,1,0,0,0,0,1,1,1,1
15,15,T,4,4,1,1,0,5,4,3,...,0,0,0,0,1,0,0,1,1,1
16,17,T,2,2,1,1,1,1,2,1,...,0,0,1,0,0,0,1,1,0,1
17,17,T,3,3,2,2,1,4,5,4,...,0,0,1,0,1,0,0,1,1,0
18,16,T,2,1,1,1,0,4,5,2,...,0,0,1,0,0,0,0,1,1,1
19,17,T,1,1,1,1,0,4,3,2,...,0,0,1,0,1,0,1,1,0,0
20,18,T,2,1,1,1,2,3,2,5,...,0,0,1,0,0,0,0,0,1,0
21,19,T,1,1,3,1,1,4,4,4,...,0,0,0,0,1,0,0,1,1,0
22,17,T,3,3,1,2,0,4,3,4,...,0,0,1,0,1,0,1,1,1,1
23,16,A,2,2,1,1,1,5,3,4,...,0,0,1,0,0,0,0,1,0,0
24,16,T,1,1,2,1,0,3,3,3,...,1,0,1,0,1,0,1,1,0,1
25,18,A,3,2,2,3,2,3,3,2,...,0,0,0,0,1,0,0,0,0,1
26,19,T,4,4,1,1,1,3,2,5,...,0,0,0,0,1,0,0,1,1,1
27,17,T,3,2,2,1,3,4,5,2,...,0,0,1,0,1,0,1,0,0,0
28,16,T,1,1,1,1,0,4,4,4,...,0,0,1,0,1,0,1,1,1,1
29,18,T,2,2,2,2,0,1,3,1,...,0,0,1,0,1,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,15,T,4,2,1,1,0,3,5,2,...,0,0,1,0,0,0,0,1,1,0
490,15,T,1,2,3,2,0,5,5,5,...,0,0,1,0,1,0,1,1,0,0
491,19,T,2,2,1,2,0,4,3,3,...,0,0,1,0,1,0,0,1,1,0
492,19,T,3,2,1,1,0,5,3,4,...,0,0,0,0,1,0,0,1,0,1
493,18,T,2,2,1,3,0,4,3,3,...,0,0,1,0,1,0,0,1,1,0
494,17,T,2,2,2,2,0,4,5,2,...,0,1,0,0,1,0,1,1,1,0
495,15,T,2,2,1,1,0,4,2,2,...,0,0,1,0,1,0,0,1,1,0
496,15,T,1,1,3,2,0,4,2,1,...,0,1,0,0,1,0,0,1,0,0
497,18,T,4,3,1,3,0,4,3,4,...,0,0,1,0,1,0,1,1,1,1
498,17,T,2,1,3,1,0,5,5,5,...,0,0,1,0,0,0,1,0,0,1
499,17,T,4,2,1,4,0,4,2,3,...,1,0,1,0,1,0,1,1,1,0
500,15,T,4,2,1,1,0,2,2,4,...,0,0,1,0,0,0,0,1,1,0
501,18,T,2,1,1,2,3,5,4,5,...,1,0,1,0,1,0,1,0,1,1
502,17,T,3,3,1,1,0,4,4,3,...,0,0,1,0,1,0,0,1,1,0
503,18,A,1,1,1,2,0,5,2,3,...,0,0,1,0,0,0,0,1,0,1
504,15,T,3,1,2,1,0,3,2,3,...,0,0,1,0,1,0,0,1,0,0
505,18,A,1,2,2,2,0,4,4,3,...,1,0,1,0,0,0,0,1,1,0
506,16,T,4,4,1,2,0,4,4,2,...,1,0,1,0,1,0,0,1,1,1
507,16,T,3,3,1,1,0,4,3,2,...,1,0,1,0,1,0,1,1,1,0
508,15,T,2,2,1,4,0,4,3,4,...,1,0,1,0,1,0,1,1,1,0
509,15,T,2,4,1,3,0,4,3,2,...,0,0,1,1,1,0,1,1,1,0
510,19,T,1,1,1,2,2,4,4,3,...,0,0,1,0,1,0,1,0,1,0
511,15,T,2,3,2,1,0,3,5,1,...,0,1,0,0,1,0,1,1,0,0
512,17,T,3,4,1,3,0,4,3,4,...,0,1,0,0,1,0,1,1,1,0
513,17,T,1,3,3,2,1,5,2,4,...,0,1,0,0,1,0,1,1,1,0
514,17,T,3,2,1,2,0,5,4,2,...,0,1,0,0,0,0,1,1,0,0
515,18,T,3,3,1,4,0,5,3,3,...,0,0,1,0,1,0,0,1,1,0
516,18,T,2,1,2,2,0,4,3,1,...,1,0,1,0,0,0,1,1,1,1
517,16,T,1,2,2,1,2,4,4,5,...,0,0,1,0,0,0,0,1,1,0
518,17,T,2,1,1,1,0,4,4,2,...,0,0,1,0,0,0,0,1,1,0